<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="WatchPath1" value="C:\Users\yzhu\Desktop\" />
	</appSettings>
	<appConfig>
		<folders>
			<add path="C:\Users\yzhu\Desktop\"
			
				 />
		</folders>
	</appConfig>
</configuration>